body{
    display: flex;
    justify-content:space-around;
    background-color: #170d34;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: "my font ";
    background-color: bisque;
    padding: 10px;
    text-align: center;

}
#score, #score2{
    background-color: #03000c;
    font-size: 4rem;
    text-align: center;
    color: rgb(74, 6, 6);
    font-size: 50px;
    font-family: "my font ";
    width: 150px;
}
@font-face{
    font-family:"my font ";
    src: url("dig7.ttf");
}
